.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
  max-width: 86%;
  height: 68px;
}

.linkNav {
  text-decoration: none;
  color: #ff6060;
  font-size: 24px;
  margin-left: 50px;
  font-family: "Montserrat";
  font-weight: 500;
}

/***** RESPONSIVE *****/

@media screen and (max-width: 768px) {
  .header {
    margin: 20px auto;
  }
  .logoKasa {
    width: 145px;
  }
  .linkNav {
    font-size: 12px;
    margin-left: 10px;
    text-transform: uppercase;
  }
}
